@charset "utf-8";

* {
 font-family: Raleway;
 font-size:12px;
 font-color:#fff;
}

body {
  background-color:#2C2A2B;
  height:100%;
  width: 100%;
  line-height:20px;
  font-size:10px;
  position: fixed;
}

header {
  text-align: center;
  width: 35%;
  height: 400px;
  margin: 0 auto;
  margin-top: 20px;
}

.explore {
  width: 40%;
  float: left;
  border-color: #fff;
  border-style: solid;
}

.title {
  font-family: Oswald;
  font-size: 10.00em;
  font-weight: 700;
  color: #fff;
}

.names {
  font-family: Raleway;
  font-size: 6.00em;
  font-weight: 200;
  color: #fff;
  margin-left:  250px;
  height: 100px;
}

#explore {
  color: #66D9EF;
}

#playlist {
  color: #f92672;
}

h3 {
  font-size: 1.60em;
  font-weight: 100;
  font-style: normal;
  color: #fff;
}
.map {
  font-size: 2.000em;
  width: 30%;
  font-weight: 100;
  font-style: normal;
  color: #fd971f;
  padding-top: 35px;
  margin-right: 75px;
  float: right;
}

#canvas {
   height: 100%;
   width: 100%;
}
.fa {
  color: #fff;
}

.jsnx {
  width: inherit;
}

input[type=text]
{
    background-color: #fff;
    border:solid 2px #fff;
    font-family: Raleway;
    color: #000;
    height: 35px;
    padding-left:10px;
    margin-left: 250px;
 /*   margin-left: -15px;*/
    width: 350px;
/*    z-index: 999;
    position: fixed;*/
  
}

.page-break {
  height: 50px;
}

.hidden
{
   visibility:hidden
}

#second
{
   margin-top: 10px;
   text-align: center;
   margin-left: 100px;
   position: relative;
}

.social {
  margin-top: 25px;
}

#holder {
  width: 80%;
  margin-top: 75px;
  margin-left: 20px; 
  margin-right: 230px; 
  background-color: #000;
  height: 100%;
}

#sidebar {
  float: right;
  color: #fff;
  max-height: 80%;

}

#graph {
  width: 100%;
  height: 100vh;
}

.scrollable {
  height: 80%;
  margin-top: 75px;
  overflow-y: auto;
  overflow-x: hidden;
}

#logo {
  width: 200px;
  margin-bottom: 20px;
  margin-left: 20px;
}



.tt-query {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
  color: #000
}

.tt-menu {
  width: 422px;
  margin: 12px 0;
  padding: 8px 0;
  background-color: #fff;
  border: 1px solid #fff;
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
     -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
          box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.tt-suggestion {
  padding: 3px 20px;
  font-size: 12px;
  line-height: 15px;
}

.tt-suggestion:hover {
  cursor: pointer;
  color: #fff;
  background-color: #FF66A3;
}

.tt-suggestion.tt-cursor {
  color: #fff;
  background-color: #FF66A3;

}

.tt-suggestion p {
  margin: 0;
}
.tooltipdialog {
    width: 150px;
    height: 150px;
    background-color: rgba(229, 244, 255, 0.82);
    border-radius: 20px;
    padding: 5px;
}
.tooltipsong {
  font-size: 14px;
}
.tooltipimage {

}
.playlist-item {
  padding:10px;
}
.playlist-item:hover {
  background-color: gray;
  padding:10px;
}
.playlist-content {
  margin-left: 115px;
  word-wrap: break-word;
}
.playlist-image-container {
    float: left
}
.playlist-image-container img {
    display: block
    width: 100px;
    height: 100px;
}
.playlist-item-container {
    overflow: auto
}
.playlist-name {
  text-decoration: none;
  color: #525252;
  font-size: 15px;
  word-wrap: break-word;
}
.playlist-artist {
  text-decoration: none;
  font-size: 12px;
}
.playlist-image {
  width: 100px;
  height: 100px;
}
